*
{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif; /* add quotes around font names with capital letters */
}
.navbar
{
    background-color: #4B0082;
    padding: 10px;
    color: white;

}

.container
{
   
     display: flex;
    flex-wrap: wrap;       /* allow multiple rows if they overflow */
    gap: 20px;             /* space between cards */
    padding: 20px;
}
.book-container
{
    padding:15px;
     width: 25%;
    background-color: #673AB7;
    opacity: 0.8;
    color: #f0f8ff;
    border-radius: 10px;
    margin:30px;
    display: inline-block;
    vertical-align: top;
}

.book-container h1{
    color: #ffffff;
}

.book-container button
{
    background-color: #E74C3C;
    color: white;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
     margin-top: 10px;
}

.book-container button:hover {
    background-color: #E74C3C;
    cursor: pointer;
}


.add-button
{
    background-color: #FFC107;
    color: black;
    border-radius:100%;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:30px;
    padding-right:30px;
    font-size:40px;
    border: none;
    position: fixed;
    bottom:30px;
    right: 30px;
}

.add-button:hover {
    background-color:#786fb0;
    cursor: pointer;
}


.popup-overlay
{
    background-color: rgba(0,0,0,0.8);;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    height: 100%;
    top : 0;
    left: 0;
    z-index: 1;
    display: none;
}
.popup-box
{
    background-color:#FFFFFF;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    width: 90%;
    max-width: 500px;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
    padding: 40px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    display: none;
}

.popup-box input
{
    background: transparent;
    border: none;
    width:100%;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    border-bottom: solid #4B0082 2px;
}

.popup-box textarea
{
     background: transparent;
    
    width:100%;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    border-bottom: solid #4B0082 2px;
    

}

.popup-box textarea::placeholder
{
     color: #4B0082;;
}
.popup-box input::placeholder
{
     color: #4B0082;
}
label {
    margin-right: 10px;
}


.popup-box button
{
    background-color: #4B0082;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 5px;
    color: white;
    border: none;
}

.popup-box input:focus
{
    outline: none;
    border-bottom-color: #E74C3C; 
}

.popup-box textarea:focus
{
    outline: none;
    border-bottom-color: #E74C3C; 
}

#search-bar {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}
